<div class="row">
  <div class="col-sm-9">
    <ul>
      <% Contact.all().each() do |contact| %>
        <li><%= contact.first_name() %> <%= contact.last_name() %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-3">
    <h3>Add a contact</h3>
    <form action="/contact/new" method="post">
      <input type="text" name="title" placeholder="Title (ie. Mr., Dr.)">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="job_title" placeholder="Job Title">
      <button type="submit" class="btn btn-primary">Add Contact</button>
    </form>
  </div>
</div>
