<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <h1><a href="/">Address Book</a></h1>
      <%= yield %>
    </div>
  </body>
</html>
